<h1>Create a new tadpole for <%= @frog.name %></h1>

<%= form_for(@tadpole) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">  
    <%= hidden_field_tag(:frog_color, "#{@frog.color}") %>
  </div>
  <div class="field">
    <%= hidden_field_tag(:frog_id, "#{@frog.id}") %>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
<%= link_to 'Cancel', @tadpole %>