<h1><%= @tadpole.name %> Tadpole</h1>
<p>color: <%= @tadpole.color %></p>
<p>parent: <%= link_to "#{@tadpole.frog.name}", frog_path %></p>
<p>lives: <%= link_to "#{@tadpole.frog.pond.name}", pond_path %></p>
<!-- <p><strong><%#= link_to "Evolve to frog", @tadpole.id.to_s + "/evolve", :controller => "tadpole", :method => "evolve" %></strong></p> -->
<p><strong><%= link_to "Evolve to frog", evolve_tadpole_path %></p></strong>
<%= link_to 'Back', tadpoles_path %> | 
<%= link_to 'Edit', edit_tadpole_path %> | 
<%= link_to 'Destroy', @tadpole, :method=>:delete %>

